@import "./screensizes";


/// Replace `$search` with `$replace` in `$string`.
///
/// @group mixins and tools
/// @since 3.5.0
/// @author Hugo Giraudel
/// @param {string} $string - Initial string
/// @param {string} $search - Substring to replace
/// @param {string} $replace [""] - New value
/// @returns {string} - Updated string
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}


/// Get a breakpoint's size from its name.
///
/// @group mixins and tools
/// @access private
/// @returns {string|boolean} - Breakpoint size if it exists, otherwise **false**
@function get-breakpoint($breakpoint, $measurement: width) {
    $breakpoints: $widthBreakpoints;

    @if $measurement == height {
        $breakpoints: $heightBreakpoints;
    }

    @if map-has-key($breakpoints, $breakpoint) {
        @return inspect(map-get($breakpoints, $breakpoint));
    }

    @else {
        @warn "No value found for `#{$breakpoint}`. Please make sure it is defined in the `$#{$measurement}Breakpoints` map.";
        @return false;
    }
}


/// Get a screen size from its name.
///
/// @group mixins and tools
/// @returns {string} - Screen size if it exists, otherwise **false**
///
/// @example min-width: get-screen-size(md);
/// @example @media (max-width: get-screen-size(md) - 1px) { ... }
@function get-screen-size($screenSizeName) {
    @if map-has-key($screensizes, $screenSizeName) {
        @return map-get($screensizes, $screenSizeName);
    }

    @else {
        @warn "No value found for `#{$screenSizeName}`. Please make sure it is defined in the `$screensizes` map.";
        @return false;
    }
}



/// Strip the unit from the given number
///
/// @group mixins and tools
/// @returns {number} - The number without the unit.
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}


/// Convert a pixel-size to em, based on an optional context.
///
/// @group mixins and tools
/// @returns {string} The converted unit
///
/// @example font-size: em(16px);
/// @example width: em(240px, 18px);
@function em($pixels, $context: $font-size__root) {
    $pixels: strip-unit($pixels);
    $context: strip-unit($context);
    $ratio: $pixels / $context;
    @if ($context == $font-size__root) {
        @return $ratio * 1rem;
    } @else {
        @return $ratio * 1em;
    }
}



/// Convert the incomint pixel-size to em, but only if the page's grid is set
/// to utilize em's. Otherwise, the input will be returned unchanged.
///
/// @group mixins and tools
/// @returns {string} The (possibly) converted number
/// @see em
@function conditional-em($pixels, $context: $font-size__root) {
    @if ($grid__use-em) {
        @return em($pixels, $context);
    }
    @else {
        @return $pixels;
    }
}
