// This file contains the most basic styling for the autoSuggest module.
// So for it to not look like something straight out of the 90's, you might wanna add your own styles.
//
// It is assumed that autosuggest results are an ul li list.
// If for some reason this is not the case in your layout,
// there will probably be a few styling rules you can omit.
//
// Note: Use &:focus as the selector to style the active link under autosuggest__results,
//       as it uses document.activeElement when navigating the suggestion-link.
//
// Remember these three if you want to use mq() or any other mixin. 
// Since this styling file "lives inside" the JS-compiler, you need to include the specific stuff you need instead
// of relying on the automatic framework provided by our usual styling pipeline.
//
// @import "base/variables";
// @import "utilities/screensizes";
// @import "utilities/mixins";

.autosuggest {
    position: relative;

    &__field {
        width: 100%;
    }

    &__results {
        background-color: #fff;
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;

        li {
            list-style: none;
            transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

            a, a:visited {
                display: block;
                text-decoration: none;

                // Yes you guessed it!
                // This is where style the active/focused link in the list of suggestions.
                &:focus {
                    outline: 1px solid inherit;
                    text-decoration: underline;
                }
            }
        }
        
        &--active {
            display: block;
        }

        &--loading {
            display: block;

            li {
                opacity: 0.3;
            }

            /**
                Default loading spinner is placed in the pseudo-element below.
                You might want to replace this with á loader that is better suited for your project.
             */
            &::before {
                animation: spinner 500ms linear infinite;
                border-bottom-color: transparent;
                border-left-color: #444;
                border-radius: 50%;
                border-right-color: transparent;
                border-style: solid;
                border-top-color: #444;
                border-width: 1px;
                content: "";
                display: block;
                height: 0.8em;
                margin: 10px auto;
                width: 0.8em;
            }

            .autosuggest__field + &::before {
                margin: 0;
                position: absolute;
                right: 0.5em;
                top: -1.15em;
            }
        }
    }

    &__match-key {
        opacity: 0.5;
        position: absolute;
        right: 30px;
    }
}

/**
    Default loading spinner animation

    You might want to replace this animation with your own.
    I any case ideally this @keyframe animation should be moved to 'utilities/animations.scss'
 */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
