// This file contains what's necessary to get the color picker styled properly, but you'll probably want to skin
// it yourself..
//
//
// Remember these three if you want to use the mq() mixin, or... well, any other kind of mixin, really. Since
// this styling file "lives inside" the JS-compiler, you need to include the specific stuff you need instead
// of relying on the automatic framework provided by our usual styling pipeline.
//
// @import "base/variables";
// @import "utilities/screensizes";
// @import "utilities/mixins";


.color-picker {
    // This is a checkered background for showing transparency like in Adobe Photoshop.
    // The size of the squares are relative to the font size (.5em each).
    background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3e%3crect x='0' y='0' width='1' height='1' fill='%23ddd'/%3e%3crect x='1' y='1' width='1' height='1' fill='%23ddd'/%3e%3c/svg%3e") left top/1em;
    position: relative;

    &--circle {
        border-radius: 50%;
    }

    canvas {
        border-radius: inherit;
        position: relative;
        vertical-align: top;
        z-index: 1; // This is to make sure the canvas is underneath the pickers.
    }

    &__picker {
        background: linear-gradient(135deg, #fff 0%, #fff 50%, #ddd 51%, #ddd 100%); // This is a slant gradient for showing transparency.
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(#000, .2);
        min-height: 20px;
        min-width: 20px;
        overflow: hidden;

        // This is to make sure the pickers are on top of the canvas and positioned correctly.
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 2;

        &--active {
            z-index: 3;
        }

        &--above-vertical-median {
            // When the picker is above the center on the Y-axis.
        }

        &--below-vertical-median {
            // When the picker is below the center on the Y-axis.
        }

        &--above-horizontal-median {
            // When the picker is before the center on the X-axis.
        }

        &--below-horizontal-median {
            // When the picker is after the center on the X-axis.
        }

        &--inner-circle {
            // When the picker is in the inner part of the circle.
        }

        &--outer-circle {
            // When the picker is in the outer part of the circle.
        }

        &--on-dark {
            // When the picker is on top of a dark color.
        }

        &--on-light {
            // When the picker is on top of a light color.
        }
    }

    &__color {
        height: 100%;
        position: absolute;
        width: 100%;
    }
}
