.score-container {
    display: flex;
    justify-content: space-evenly;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        &--blue {
            color: $color__blue;
        }

        &--red {
            color: $color__red;
        }
    }

    &__amount {
        font-size: 8em;
    }
}
