.winner {
    font-size: 5em;
    text-align: center;
    animation: winner .5s ease-in-out 0s infinite;

    &__team {
        font-weight: bold;

        &--blue {
            color: $color__blue;
        }

        &--red {
            color: $color__red;
        }
    }
}

@keyframes winner {
    50% {
        transform: scale(1.2);
    }
}
