.page-header {
    $pageHeaderRoot: &;

    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    height: $page-header__height;
    background: $bar__primary--background;
    border-bottom: #{$border__width} solid $color__background;

    &__title {
        display: inline-block;
        height: inherit;
        font-size: 25px;
        line-height: $page-header__height;
        color: $bar__primary--text;
        vertical-align: top;

        b {
            font-weight: 900;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__toggle-search {
        position: absolute;
        top: 0;
        right: $page-header__height;
        bottom: 0;
        width: $page-header__height;
        padding: 1rem;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: background .3s ease-out;

        @include mq(md) {
            position: static;
            float: right;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: $bar__primary--text;
            vertical-align: top;
        }

        &:hover {
            background: rgba($color__background, .13);
            transition-duration: .15s;
        }

        .search-toggle:checked ~ #{$pageHeaderRoot} & {
            background: rgba($color__background, .25);
        }
    }

    &__toggle-menu {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $page-header__height;
        background: $bar__tertiary--background;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

        @include mq(md) {
            display: none;
        }

        span {
            position: absolute;
            top: 50%;
            left: 1rem;
            right: 1rem;
            height: 2px;
            margin-top: -1px;
            background: $bar__tertiary--text;
            transition: all .3s ease-out;
            will-change: transform;

            &:nth-child(1) {
                transform: translate3d(0, -.5rem, 0);
                transition-delay: .3s;
            }

            &:nth-child(2) {
                transition-delay: .2s;
            }

            &:nth-child(3) {
                transform: translate3d(0, .5rem, 0);
                will-change: transform, right;
                transition-delay: .1s;
            }
        }

        &:after {
            content: "";
            position: absolute;
            right: 1rem;
            bottom: .75rem;
            border-top: 0.5rem solid $bar__tertiary--text;
            border-left: .3rem solid transparent;
            border-right: .3rem solid transparent;
            opacity: 0;
            transform: translate3d(0, -.5rem, 0) scale(.5, 2);
            transition: opacity .15s ease-out, transform 0s .15s;
        }

        .navigation-toggle:checked ~ .page-header & {
            span {
                transition-timing-function: cubic-bezier(0.475, 1.085, 0.32, 1.5);

                &:nth-child(1) {
                    transform: translate3d(0, -1rem, 0) scale(1, 1.5) skew(0deg, -6deg);
                    transition-delay: 0s;
                }

                &:nth-child(2) {
                    transform: translate3d(0, -.4rem, 0) scale(1, 3) skew(0deg, -3deg);
                    transition-delay: .1s;
                }

                &:nth-child(3) {
                    transform: translate3d(0, .5rem, 0) scale(1, 4.5) skew(0deg, -2deg);
                    right: 2rem;
                    transition-delay: .2s;
                }
            }

            &:after {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition-timing-function: cubic-bezier(0.475, 1.085, 0.32, 1.5);
                transition-duration: .3s;
                transition-delay: .3s;
            }
        }
    }
}
